

@font-face {
    font-family: "roboto";
    src: url(/Fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 200;
}

body {
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(50, 50, 50);
    height: 4em;
    padding-left: 1em;
    margin: 0;
    line-height: 4em;
}

header h3 {
    margin: 0;
    color: white;
    font-family: "roboto";
}

#nav.id ul {
    list-style-type: none;
        
}

#nav-id ul li {
    display: inline-block;     
    width: 24%;
    font-family: "roboto"
}

section {
    padding: 1em 1em;
    background-color: rgb(200, 200, 200);
    border: solid 1px white;
}

h4 {
    font-family: "roboto"
}

p {
    font-family: "roboto"
}

footer {
    background-color: rgb(50, 50, 50);
    height: 4em;
    line-height: 4em;
    padding-left: 1em;
}

footer button {
    background-color: white;
    color: black;
    border-radius: 3px;
    border: solid 1px white;
    font-size: 1em
}



/* Home page*/

.home-images img {
    width: 39%;
    margin: 5%;
    border: solid 2px black;
    border-radius: 200px;
    box-shadow: 0 0 9px black;
}

.box {
    width: 25%;
    margin: 3.7%;
    background-color: white;
    text-align: center;
    height: 5em;
    line-height: 5em;
    font-size: 2em;
    border-radius: 100px;
    border: solid 1px white;
    box-shadow: 0 0 3px black;
    display: inline-block;
}

@media screen and (max-width:796px) {
    .box{
        width: 100%;
        margin-left: 0;
    }
}

/* Works page*/

.works-projects article {
    border-radius: 10px;
    margin-bottom: 2em;
    box-shadow: 0 0 9px black;
    background-color: rgb(230, 230, 230);
}

.works-projects article img {
    width: 25%;
}

.works-projects article .work-aside {
    display: inline-block;
    width: 70%;
    vertical-align: top;
}

/* Gallery page*/

.gallery img {
    width: 30.5%;
    margin: 1.1%;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
}

@media screen and (max-width:600px) {
    .gallery img {
        width: 100%;
        margin-bottom: 1em;
    }
}

/* About page */

.about-image img {
    width: 40%;
}

.bio img {
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 9px black;
}

.bio aside {
    background-color: rgb(230, 230, 230);
    width: 60%;
    display: inline-block;
    margin-left: 3em;
    padding-left: 2em;
    border-radius: 10px;
    box-shadow: 0 0 9px black;
}

.form-group {
    width: 100px;
}

.form-group textarea {
    width: 200px;
}

.message-form button {
    background-color: grey;
    color: black;
    border-radius: 3px;
    border: solid 1px white
}