

@font-face {
    font-family: "roboto";
    src: url(/Fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 200;
}

body {
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(50, 50, 50);
    height: 4em;
    padding-left: 1em;
    margin: 0;
    line-height: 4em;
}

header h3 {
    margin: 0;
    color: white;
    font-family: "roboto";
}

#nav.id ul {
    list-style-type: none;
        
}

#nav-id ul li {
    display: inline-block;     
    width: 24%;
    font-family: "roboto"
}

section {
    padding: 1em 1em;
    background-color: rgb(200, 200, 200);
    border: solid 1px white;
}

h4 {
    font-family: "roboto"
}

p {
    font-family: "roboto"
}

footer {
    background-color: rgb(50, 50, 50);
    height: 4em;
    line-height: 4em;
    padding-left: 1em;
}

.button {
    background-color: transparent;
    color: inherit;
    border-radius: 0;
    border: 0;
    font: inherit;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    
}

.button:focus {
    outline: none;
}

.button-inner {
    align-items: center;
    background: cornflowerblue;
    border: solid 2px transparent;
    border-radius: 99em;
    color: white;
    display: flex;
    font-weight: 600;
    height: 2em;
    min-width: 2.5em;
    padding: 0 1em;
    position: relative;
    box-shadow: 0 0 9px black;
}
/*
.badge {
    align-items: center;
    background: crimson;
    border: solid 2px white;
    border-radius: 99em;
    color: white;
    display: flex;
    font-size: 0.7em;
    font-weight: 600;
    height: 1.44em;
    justify-content: center;
    line-height: 1;
    min-width: 1.44em;
    position: absolute;
    right: -2px;
    top: -2px;
}
*/


/* Home page*/

.home-images img {
    width: 39%;
    margin: 5%;
    border: solid 2px black;
    border-radius: 200px;
    box-shadow: 0 0 9px black;
}

.box {
    width: 25%;
    margin: 3.7%;
    background-color: white;
    text-align: center;
    height: 5em;
    line-height: 5em;
    font-size: 2em;
    border-radius: 100px;
    border: solid 1px white;
    box-shadow: 0 0 3px black;
    display: inline-block;
}

@media screen and (max-width:796px) {
    .box{
        width: 100%;
        margin-left: 0;
    }
}

/* Works page*/

.works-projects article {
    border-radius: 10px;
    margin-bottom: 2em;
    box-shadow: 0 0 9px black;
    background-color: rgb(230, 230, 230);
}

.works-projects article img {
    width: 25%;
}

.works-projects article .work-aside {
    display: inline-block;
    width: 70%;
    vertical-align: top;
}

/* Gallery page*/

.gallery img {
    width: 30.5%;
    margin: 1.1%;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
}

@media screen and (max-width:600px) {
    .gallery img {
        width: 100%;
        margin-bottom: 1em;
    }
}

/* About page */

.about-image img {
    width: 40%;
}

.bio img {
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 9px black;
}

.bio aside {
    background-color: rgb(230, 230, 230);
    width: 60%;
    display: inline-block;
    margin-left: 3em;
    padding-left: 2em;
    border-radius: 10px;
    box-shadow: 0 0 9px black;
}

.message-form {
    background-color: rgb(230, 230, 230);
    border: solid 1px white;
    border-radius: 5px;
    box-shadow: 0 0 9px black;
    width: 30%;
}

.form-group {
    width: 100px;
}

.form-group textarea {
    width: 200px;
}

.message-form button {
    background-color: grey;
    color: black;
    border-radius: 3px;
    border: solid 1px white
}